 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}
a,a:hover{ text-decoration: none;color: #000;}


/*开始*/
.top{
	background: #2c2f1e url(../images/top_bg.jpg) no-repeat;
	background-size: 100% auto;
	text-align: center;
	color: fff;
	line-height: 50px;
	height: 100%;
    width: 100%;
    position: relative;
	overflow: hidden;
}
.top .text{ position: absolute; bottom: 25%; width: 100%;}
.top .touxiang {background: url(../images/touxiang.jpg) no-repeat; background-color:#fafafa ;width: 150px; height: 150px; margin: 0 auto;border-radius:50%;overflow:hidden;box-shadow: 0 0 15px #333}
.top h1 {font-size: 36px; font-weight: bold; padding-top: 20px;text-shadow: 0 0 15px #000}
.top p { font-size: 24px;text-shadow: 0 0 15px #000}
.top .enter{font-size: 24px; font-weight: bold;position: absolute; bottom: 3%; width: 100%;text-shadow: 0 0 15px #000}
.top .enter a, .top .enter a:hover{color: #fff;}

.tag a, .tag a:hover{color: #999;font-size: 14px; font-weight: bold; background-color: #fff; padding: 5px 15px;border-radius:5px; margin: 0 10px;}

/*main*/
.main{ width: 1100px; margin: 0 auto ; padding:50px;break-word;line-height: 2rem; }
.main h1{ font-size: 36px; font-weight: bold;border-bottom: black 2px solid; line-height: 3em; margin:20px 0 40px 0;}

.a1 { display: table; width: 100%;}
.a1 img { width: 220px; float: left; margin-left: 20px;}
.a1 p {float: left; margin:20px 0 0 20px;}

.a2 ul { display: table; padding: 50px 0;}
.a2 ul li {list-style: none; float: left;width: 200px; margin: 0 10px; background-color:#ccc; text-align: center; height:140px; border-radius: 50%; padding-top: 60px;}
.a2 ul li span{ font-weight: bold;color: #fafafa; font-size: 20px; line-height: 80px;}
.a2 ul li p{color: #ccc;}
.a2 ul li:hover{background-color:#999; }
.a2 ul li:hover span{line-height: 40px; color:#000;}
.a2 ul li:hover p{color: #fff;}

.a3 ol { padding-left: 20px;}

.footer{ height: 222px; background-color:#999 ; text-align: center;color: fff;line-height: 50px;}
.footer h1{ font-size: 50px; font-weight: bold; padding-top: 66px;}

.link{ position: relative; color:#ccc ;}
.link_box{ position:absolute; top:0;background-color:#ccc; width: 100%; display: none;}
.link:hover .link_box{ display: block;}